<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
        <head>
                <title>Tracker</title>
                <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
                <style type="text/css">
                        body{
                                margin:0 0 0 0;
                                font-size:10px;
                        }
                        #header{
                                height:100px;
                                width:100%;

                        }
                        #content{
                                width:100%;
                        }

                        #sidebar{
                                display:block;
                                float:left;
                                width:200px;
                        }
                        #body{
                                float:right;
                        }

                </style>

                <script type="text/javascript" src="/static/jquery.js"></script>
                <script type="text/javascript" src="/static/jquery.ui.min.js"></script>
                <script type="text/javascript" src="/static/json2.js"></script>
                <script type="text/javascript" src="/static/strophe.js"></script>
                <script type="text/javascript" src="/static/strophe.pubsub.js"></script>
                <script type="text/javascript">

                        if (!Array.prototype.indexOf)
                        {
                                Array.prototype.indexOf = function(searchElement /*, fromIndex */)
                                {
                                        "use strict";
                                        if (this === void 0 || this === null)
                                                throw new TypeError();
                                        var t = Object(this);
                                        var len = t.length >>> 0;
                                        if (len === 0)
                                                return -1;
                                        var n = 0;
                                        if (arguments.length > 0)
                                        {
                                                n = Number(arguments[1]);
                                                if (n !== n)
                                                        n = 0;
                                                else if (n !== 0 && n !== (1 / 0) && n !== -(1 / 0))
                                                        n = (n > 0 || -1) * Math.floor(Math.abs(n));
                                        }
                                        if (n >= len)
                                                return -1;
                                        var k = n >= 0
                                                ? n
                                        : Math.max(len - Math.abs(n), 0);
                                        for (; k < len; k++)
                                        {
                                                if (k in t && t[k] === searchElement)
                                                        return k;
                                        }
                                        return -1;
                                };
                        }
                        function contains(arr,obj) {
                                return (arr.indexOf(obj) != -1);
                        }
                        function do_resize(){

                                $('#content').height($(window).height()-$('#header').height());
                                $('#body').width($(window).width()-240);
                        }

                        function render_json(items){
                                var data = "";
                                for(var index in items) {
                                        data += index + " : " + items[index] + "<br />";
                                }
                                return data;
                        }



                        log_msg_in = function(msg){
                                console.log('IN');
                                console.debug(msg);
                        }
                        log = function(msg){
                                console.debug(msg);
                        }
                        log_msg_out = function(msg){
                                console.log('OUT');
                                console.debug(msg);
                        }

                        recv_message = function (msg) {

                                msg = $(msg);
                                var msg_json = msg.find('element').text();
                                if (msg_json != ""){
                                        msg_json = eval("("+msg_json+")");
                                        var message = msg_json.message;
                                                
                                        /*
                                        TODO 
                                        ADD OPERATIONS TO YOUR JAVASCRIPT!!!
                                        */
                                }
                                return true;
                        }

                        var BOSH_SERVICE = '{{bosh_url}}';
                        var BOSH_PUBSUB = '{{pubsub}}';
                        var BOSH_SID = '{{sid}}';
                        var BOSH_JID = '{{jid}}';
                        var BOSH_RID = '{{rid}}';
                        var BOSH_PWD = '{{pwd}}';

                        var BOSH_NODE = '{{node}}';
                        var DEBUG = true;

                        function onConnect(status)
                        {
                                if (status == Strophe.Status.CONNECTING) {
                                        log('Strophe is connecting.');
                                } else if (status == Strophe.Status.CONNFAIL) {
                                        log('Strophe failed to connect.');
                                } else if (status == Strophe.Status.DISCONNECTING) {
                                        log('Strophe is disconnecting.');
                                } else if (status == Strophe.Status.DISCONNECTED) {
                                        log('Strophe is disconnected.');
                                } else if (status == Strophe.Status.CONNECTED) {
                                        log('Strophe is connected.');
                                        connection.send($pres());
                                        connection.addHandler(recv_message, null, 'message', null, null, null);
                                        connection.pubsub.subscribe(BOSH_JID,BOSH_PUBSUB,BOSH_NODE, {},log_msg_in,log_msg_in );
                                }
                        }


                        var connection = null;


                        $(function(){
                                do_resize();
                                
                                connection = new Strophe.Connection(BOSH_SERVICE);
                                connection.rawInput = log_msg_in;
                                connection.rawOutput = log_msg_out;
                                //connection.attach(BOSH_JID,BOSH_SID,BOSH_RID,onConnect);
                                connection.connect(BOSH_JID, BOSH_PWD, onConnect);

                        });

                                
                </script>
        </head>
        <body>
                <div id="header">
                        <div id="title">Tracker</div>
                </div>
                <div id="content">
                        <div id="body">
                        </div>
                </div>
        </body>
</html>
